<% if @product.has_variants? %>
  <ul id="product-variants">
    <% index = 0 %>
    <% @product.variants_by_option.each do |type, values| %>
      <li id="<%= dom_id(type) %>" class="variant-options select" data-index="<%= index %>">
        <select class="variant-option-values">
          <%= content_tag :option do %>
            <%= type.presentation.force_encoding("utf-8") %>를 고르세요
          <% end %>
          <% values.sort_by{|a, v| a.name}.each do |value, variants| %>
            <% classes = ["option-value"] %>
            <% unless variants.empty? %>
              <% classes << ("in-stock") if index == 0 %>
              <%= content_tag :option, value.presentation , :class => classes, :id => "option-#{value.id}" %>
            <% end %>
          <% end %>
        </select>
        <i class="icon-chevron-down"></i>
      </li>
      <% index += 1 %>
    <% end %>

    <% case @product.variants.length %>
    <% when 1 %>
      <%= hidden_field_tag "variant_id", @product.variants.first.id %>
    <% when 0 %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% else %>
      <%= hidden_field_tag "variant_id", "", :id => "variant_id", :class => "hidden" %>
    <% end %>
    <script type="text/javascript">
    //<![CDATA[
      var variant_options = variantOptions({
        options: <%== @product.variant_options_hash.to_json -%>
      });
    //]]>
    </script>
  </div>
<% end%>

